{% extends 'home/base.html' %}
{% block content %}

<script type="text/javascript">
    function confirmDeleteModal(id){
        $('#delete_confirm_form').attr('action',"/training/activityDel"+id);
        $('#deleteUserModal').modal('show');
    };    
</script>
<div class="container-fluid">
    <div class="row text-center justify-content-center">
            <div class="card mt-2 mb-2">
            <div class="card-header">
                <div class="row">
                    <div class="col-sm-12">
                        <strong>Runs</strong><br>
                        {% if userRole == 'EDIT' %}
                        <a href="{% url 'training:activityAdd' %}" class="btn btn-secondary btn-md">Add Run</a>
                        {% endif %}
                        </div>   
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-12">
                        <table class="table table-striped table-hover">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Name</th>
                                    <th scope="col">Detail</th>
                                    <th scope="col">Distance</th>
                                    <th scope="col">Minutes</th>

                                    {% if userRole == 'EDIT' %}
                                    <th scope="col">Update </th>
                                    <th scope="col">Delete </th>
                                    {% endif %} 
                                </tr>
                            </thead>
                            <tbody>
                               {% for tx in run_list %}
                                <tr>
                                    <th scope=""row">{{forloop.counter}}</th>
                                    <td>{{tx.name}}</td>
                                    <td>{{tx.detail}}</td>
                                    <td>{{tx.distance}}</td>
                                    <td>{{tx.minutes}}</td>
                                    {% if userRole == 'EDIT' %}
                                    <td><a href="{% url 'training:activityUpd' tx.id %}" class="btn btn-danger btn-md">Edit</a></td>
                                    <td>
                                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" onclick="confirmDeleteModal('{{tx.id}}')" id="deleteID">
                                            Delete
                                        </button> 
                                    </td>
                                    {% endif %} 
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        </div>
                </div>
                <hr>
            </div>
        </div>
    </div>

    <div class="modal fade" id="deleteUserModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
           <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" style="color:red">Confirm you want to Delete the record.</h5>
                    <form id="delete_confirm_form" method="post">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-warning mr-1" data-dismiss="modal">DELETE</button>
                    </form>
                </div>
                <div class="modal-footer">
                    <p class="modal-title">Click outside this box to Cancel.</p>
                </div>
           </div> 
        </div>
    </div>
 </div>               
{% include 'home/footer.html' %}
{% endblock content %}