{% extends 'home/base.html' %}
{% block content %}
<script type="text/javascript">
    function logActivityModal(id){
        $('#logActivity_form').attr('action',"/training/logActivity"+id);
        $('#logActivity').modal('show');
        console.log("test in ")
        const json={
            time:"100",
            distinace:"3",
            avgHR:"130",
        };
        fetch("/training/logActivity"+id,{
            method:"POST",
            headers:{
                "Accept":"network/json",
                "content-type":"application/json",
                "X-CSRToken":csrftoken,
            },
            body:JSON.stringify(json),
        })
        .then(response=>response.text())
        .then(data=>{console.log(data)});
    };    

</script>

<div class="container-fluid">
    <div style="text-align:center">
        <h4>{{race.name}} : {{race.end}}</h4>
        <p>Week : {{week_start}} Total Weekly : {{total}} Miles, Long Run :{{long_run}} Miles </p>
            <div aria-live="polite" aria-atomic="true" class="bg-dark position-relative">
                <div class="toast-container p-3 top-0 start-50 translate-middle-x">
                    <div class="d-flex align-content-start flex-wrap">
                        {% for activity in data_list %}
                            
                            {% if activity.type == 'RUN' %}
                            <div class="toast  text-bg-danger show" role="alert" aria-live="assertive" aria-atomic="true" data-autohide="false">
                            {% elif activity.type == 'XTRAIN' %}
                            <div class="toast  text-bg-warning show" role="alert" aria-live="assertive" aria-atomic="true" data-autohide="false">
                            {% else %}
                            <div class="toast  text-bg-info show" role="alert" aria-live="assertive" aria-atomic="true" data-autohide="false">
                            {% endif %}
                                <div class="toast-header">
                                    {% if forloop.counter == 1 %}
                                        <strong>Monday</strong>
                                    {% elif forloop.counter == 2 %}
                                        <strong>Tuesday</strong>
                                    {% elif forloop.counter == 3 %}
                                        <strong>Wednesday</strong>
                                    {% elif forloop.counter == 4 %}
                                        <strong>Thursday</strong>
                                    {% elif forloop.counter == 5 %}
                                        <strong>Friday</strong>
                                    {% elif forloop.counter == 6 %}
                                        <strong>Saturday</strong>
                                    {% elif forloop.counter == 7 %}
                                        <strong>Sunday</strong>
                                    {% endif %}
                                <!--button type="button" class="btn btn-primary" data-bs-toggle="modal" onclick="logActivityModal('{{activity.id}}')" id="logID">
                                    Log
                                </!--button--> 

                                </div>
                                <div class="toast-body">
                                    {{activity.detail}}<br>
                                    {% if activity.type == 'RUN' %}                                    
                                    <strong>{{activity.distance}}Miles or {{activity.minutes}}Min </strong>
                                    {% endif %}
                                </div>    
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
  <div class="modal fade" id="logActivity" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" id="logModal" hx-target="this">
      <div class="modal-content">
        <form id="logActivity_form" method="post">
            {% csrf_token %}
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Log Activity</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></-button>
        </div>
      
        <div class="modal-body">
            <label id="timeRangeLabelTxt" class="label">Time   :</label>
            <input type="range" class="range" min="30" max="300" step="1" id="timeRange" oninput="timeRangeLabel.innerText=this.value + ' min'">
            <label id="timeRangeLabel"> Min</label>
            <br>
            <label id="hrLabelText" class="label">Avg HR : </label>
            <input type="range" class="frange" min="100" max="200" step="1" id="hrRange" oninput="hrLabel.innerText=this.value + 'bpm'">
            <label id="hrLabel">BPM</label>
            <br>
            <label id=distance" class="label">Distance : </label>
            <input type="range" class="range" min="1" max="26" step="0.5" id="distanceRange" oninput="distanceLabel.innerText=this.value +' mile'">
            <label id="distanceLabel">Mile</label>
            <br>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-warning" data-bs-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary mr-1" data-dismiss="modal" onclick="logActivityModal">Save</button>
        </div>
    </form>
    </div>
    </div>
  </div> 
</script>

{% endblock content %}