{% extends 'home/base.html' %}
{% block content %}
<div class="container-fluid">
    <div style="text-align:center">
        <h4>{{race.name}} : {{race.end}}</h4>
        <p>Week : {{week_start}} Total Weekly : {{total}} Miles, Long Run :{{long_run}} Miles </p>
            <div aria-live="polite" aria-atomic="true" class="bg-dark position-relative">
                <div class="toast-container p-3 top-0 start-50 translate-middle-x">
                    <div class="d-flex align-content-start flex-wrap">
                        {% for activity in data_list %}
                            
                            {% if activity.type == 'RUN' %}
                            <div class="toast  text-bg-danger show" role="alert" aria-live="assertive" aria-atomic="true" data-autohide="false">
                            {% elif activity.type == 'XTRAIN' %}
                            <div class="toast  text-bg-warning show" role="alert" aria-live="assertive" aria-atomic="true" data-autohide="false">
                            {% else %}
                            <div class="toast  text-bg-info show" role="alert" aria-live="assertive" aria-atomic="true" data-autohide="false">
                            {% endif %}
                                <div class="toast-header">
                                    {% if forloop.counter == 1 %}
                                        <strong>Monday</strong>
                                    {% elif forloop.counter == 2 %}
                                        <strong>Tuesday</strong>
                                    {% elif forloop.counter == 3 %}
                                        <strong>Wednesday</strong>
                                    {% elif forloop.counter == 4 %}
                                        <strong>Thursday</strong>
                                    {% elif forloop.counter == 5 %}
                                        <strong>Friday</strong>
                                    {% elif forloop.counter == 6 %}
                                        <strong>Saturday</strong>
                                    {% elif forloop.counter == 7 %}
                                        <strong>Sunday</strong>
                                    {% endif %}
                                    <strong>: {{activity.name}}</strong>
                                </div>
                                <div class="toast-body">
                                    {{activity.detail}}<br>
                                    {% if activity.type == 'RUN' %}                                    
                                    <strong>{{activity.distance}}Miles or {{activity.minutes}}Min </strong>
                                    {% endif %}
                                </div>    
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}