{% extends 'home/base.html' %}
{% block content %}

<script type="text/javascript">
    function confirmDeleteModal(id){
        $('#delete_confirm_form').attr('action',"/training/runWeekDel"+id);
        $('#deleteUserModal').modal('show');
    };    
</script>
<div class="container-fluid">
    <div class="row text-center justify-content-center">
            <div class="card mt-2 mb-2">
            <div class="card-header">
                <div class="row">
                    <div class="col-sm-12">
                        <strong>Runs</strong><br>
                        {% if userRole == 'EDIT' %}
                        <a href="{% url 'training:runWeekAdd' %}" class="btn btn-secondary btn-md">Add Run Week</a>
                        {% endif %}
                    </div>   
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-12">
                        {% for data in data_list %}
                        <div class="card mt-2 mb-2">
                        <div class="card-header">
                            <div class="row">
                                {{data.name}} Week :{{data.week}}  Total Miles : {{data.total}}
                            </div>
                        </div>
            
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-10 col-lg-10" align="left">
                                            <table class="table table-striped table-hover">
                                                <thead>
                                                    <tr>
                                                        <th scope="col">Day</th>
                                                        <th scope="col">Detail</th>
                                                        <th scope="col">Distance/Minutes</th>
                                                        <th scope="col">AvgPace</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>{{data.day_1}}</td>
                                                        <td>{{data.run_1.detail}}</td>
                                                        <td>{{data.run_1.distance}} Miles</td>
                                                        <td>{{data.run_1.avgPace}} Min/Mile</td>
                                                    </tr>
                                                    <tr>
                                                        <td>{{data.restday_1}}</td>
                                                        <td>{{data.xtrain_1.detail}}</td>
                                                        <td>{{data.xtrain_1.minutes}} Minutes</td>
                                                    </tr>
                                                    <tr>
                                                        <td>{{data.day_2}}</td>
                                                        <td>{{data.run_2.detail}}</td>
                                                        <td>{{data.run_2.distance}} Miles</td>
                                                        <td>{{data.run_2.avgPace}} Min/Mile</td>
                                                    </tr>
                                                    <tr>
                                                        <td>{{data.restday_2}}</td>
                                                        <td>{{data.xtrain_2.detail}}</td>
                                                        <td>{{data.xtrain_2.minutes}} Minutes</td>
                                                    </tr>
                                                    <tr>
                                                        <td>{{data.day_3}}</td>
                                                        <td>{{data.run_3.detail}}</td>
                                                        <td>{{data.run_3.distance}} Miles</td>
                                                        <td>{{data.run_3.avgPace}} Min/Mile</td>
                                                    </tr>
                                                    <tr>
                                                        <td>{{data.restday_3}}</td>
                                                        <td>{{data.xtrain_3.detail}}</td>
                                                        <td>{{data.xtrain_3.minutes}} Minutes</td>
                                                    </tr>
                                                    <tr>
                                                        <td>{{data.day_4}}</td>
                                                        <td>{{data.run_4.detail}}</td>
                                                        <td>{{data.run_4.distance}} Miles</td>
                                                        <td>{{data.run_4.avgPace}} Min/Mile</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                </div>
                                <div class="col-md-2 col-lg-2" align="left">
                                    {% if userRole == 'EDIT' %}
                                    <a href="{% url 'training:runWeekUpd' data.id %}" class="btn btn-secondary btn-sm"> Edit</a>
                                    <button type="button" class="btn btn-outline-danger btn-sm" data-bs-toggle="modal" onclick="confirmDeleteModal('{{data.id}}')" id="deleteID">
                                        Close
                                    </button>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="deleteUserModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
           <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" style="color:red">Confirm you want to Delete the record.</h5>
                    <form id="delete_confirm_form" method="post">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-warning mr-1" data-dismiss="modal">DELETE</button>
                    </form>
                </div>
                <div class="modal-footer">
                    <p class="modal-title">Click outside this box to Cancel.</p>
                </div>
           </div> 
        </div>
    </div>
 </div>               
{% include 'home/footer.html' %}
{% endblock content %}